.navbar{
    width: 100vw;
    height: 150px;
    background: rgb(5,65,240);
    background: linear-gradient(9deg, rgba(5,65,240,1) 6%, rgba(55,235,255,1) 100%);
    display: flex;
    align-items: center;
    justify-content:center;

    &__content{
        display: grid;
        grid-template-columns: 0.3fr 1fr;
        max-width: 1440px;
        height: 100%;
        width: 100%;
    }

    &__logo{
        height: 100%;
        cursor: pointer;
    }

    &__list-panel{
        margin-right: 30px;
        display: flex;
        align-items: center;
        justify-content: end;
        column-gap: 4%;

    }

    &__item-panel{
        display: flex;
        align-items: center;
    }

    &__name{
        color: white;
        font-size: 20px;
        margin: 0;
        margin-right: 10px;
        cursor: default;
    }
}

.logo{
    width: 100%;
    max-height: 150px;
    height: 100%;
    object-fit: cover;
}


@media (max-width: 1280px){
    .navbar{
        height: 130px;
    
        &__content{
            //max-width: 1100px;
            grid-template-columns: 0.32fr 1fr;
        }
    
        &__logo{
            height: 100%;
        }
    
        &__list-panel{
            margin-right: 15px;
    
        }
    
        &__item-panel{
            display: flex;
            align-items: center;
    
            cursor: pointer;
        }
    
        &__name{
            font-size: 18px;
            margin-right: 10px;
        }
    }
    
    .logo{
        max-height: 130px;
    }
    
}

@media (max-width: 1000px){
    .navbar{
        height: 100px;
    
        &__content{
           //max-width: 850px;
            grid-template-columns: 0.32fr 1fr;
        }
    
        &__logo{
            height: 100%;
        }
    
        &__list-panel{
            margin-right: 5px;
    
        }
    
        &__item-panel{
            display: flex;
            align-items: center;
    
            cursor: pointer;
        }
    
        &__name{
            font-size: 17px;
            margin-right: 5px;
        }
    }
    
    .logo{
        max-height: 100px;
    }
}

@media (max-width: 768px){
    .navbar{
        height: 100px;
    
        &__content{
            grid-template-columns: 0.6fr 1fr;
        }
    
        &__logo{
            max-height: 100px;
            width: 100%;
        }
    
        &__list-panel{
            margin-right: 15px;
            max-height: 100px;
            position: relative;
        }
    }
    
    .logo{
        max-height: 100px;
        width: 80%;
        min-width: 200px;
        min-height: 100px;
    }
}