.add-person{
    border: none;
    background-color: #187FF6;
    border-radius: 20px;
    width: 450px;


    &__content{
        display: flex;
        flex-direction: column;
        row-gap: 20px;
    }
    
    &__form{
        padding: 10px 10px;
    }

    &__header{
        padding: 0 10px;
    }

    &__header-back{
        cursor: pointer;
    }

    &__input{
        height: 40px;
        border-radius: 15px;
        border: none;
        padding-left: 15px;
        font-size: 20px;
    }

    &__submit{
        margin-top: 20px;
        display: flex;
        width: 100%;
        justify-content: center;
    }

    &__submit-btn{
        font-size: 20px;
        width: 150px;
        height: 50px;
        border: 2px solid white;
        border-radius: 100px;
        background-color: transparent;
        color: white;
        cursor: pointer;
        transition: 0.3s;

        &:hover{
            color: #187FF6;
            background-color: white;
        }

        &--error{
            opacity: 0.5;

            &:hover{
                cursor: default;
                color: white;
                background-color: #187FF6;
            }
        }
    }
}