.content{
    display: flex;
    width: calc(100% - 40px);
    column-gap: 2.5%;
    padding: 0px 20px ;

    &__main{
        width: 63%;
        display: flex;
        flex-direction: column;
        row-gap: 20px;
    }
}

@media (max-width: 768px){
    .content{
        width: calc(100% - 20px);
        justify-content: center;
        padding: 0px 10px;
        column-gap: 30px;

        &__main{
            width: 70%;
        }
    }
}

@media (max-width: 615px){
    .content{
        width: calc(100% - 20px);
        justify-content: center;
        padding: 0px 10px;

        &__main{
            width: 80%;
            min-width: 350px;
        }
    }
}



