.notes{
    &__item{
        border-radius: 20px;
        background-color: transparent;
        border: 2px solid white;
        width: calc(100% - 4px);
        height: 171px;
    }

    &__item-header{
        width: 40%;
        height: 36px;
        border-bottom-right-radius: 20px;
        font-size: 24px;
        font-weight: 400;
    }

    &__item-text{
        padding-left: 15px;
        padding-right: 15px;
        margin-top: 20px;
        height: calc(100% - 20px);
        width: calc(100% - 30px);
        font-size: 15px;
    }
}

.item{
    display: flex;
    flex-direction: column;
    z-index: 1;

    &__header{
        border-bottom: 2px solid white;
        border-right: 2px solid white;
        display: flex;
        align-items: center;
        justify-content: center;
        color: white;
    }

    &__text{
        color: white;
        display: flex;
        cursor: default;
        word-break: break-word;
    }
}

@media (max-width: 1280px){
    .notes{
        &__item{
            border-radius: 18px;
            height: 140px;
        }
    
        &__item-header{
            height: 30px;
            border-bottom-right-radius: 18px;
            font-size: 20px;
        }
    
        &__item-text{
            padding-left: 10px;
            padding-right: 10px;
            margin-top: 15px;
            height: calc(100% - 15px);
            width: calc(100% - 20px);
            font-size: 15px;
        }
    }
    
    .item{
        display: flex;
        flex-direction: column;
        z-index: 1;
    
        &__header{
            border-bottom: 2px solid white;
            border-right: 2px solid white;
            display: flex;
            align-items: center;
            justify-content: center;
            color: white;
        }
    
        &__text{
            color: white;
            display: flex;
            cursor: default;
        }
    }
}

@media (max-width: 1000px){
    .notes{
        &__item{
            border-radius: 10px;
            height: 100px;
        }
    
        &__item-header{
            height: 25px;
            border-bottom-right-radius: 10px;
            font-size: 15px;
        }
    
        &__item-text{
            padding-left: 7px;
            padding-right: 7px;
            margin-top: 10px;
            height: calc(100% - 10px);
            width: calc(100% - 14px);
            font-size: 12px;
        }
    }
    
    .item{
        display: flex;
        flex-direction: column;
        z-index: 1;
    
        &__header{
            border-bottom: 2px solid white;
            border-right: 2px solid white;
            display: flex;
            align-items: center;
            justify-content: center;
            color: white;
        }
    
        &__text{
            color: white;
            display: flex;
            cursor: default;
        }
    }
}

@media (max-width: 768px){
    .notes{
        &__item{
            border-radius: 15px;
            background-color: transparent;
            border: 2px solid white;
            width: calc(100% - 4px);
            height: 145px;
        }
    
        &__item-header{
            width: 40%;
            height: 36px;
            border-bottom-right-radius: 15px;
            font-size: 20px;
            font-weight: 400;
        }
    
        &__item-text{
            padding-left: 10px;
            padding-right: 10px;
            margin-top: 15px;
            height: calc(100% - 15px);
            width: calc(100% - 20px);
            font-size: 16px;
        }
    }
    
    .item{
        display: flex;
        flex-direction: column;
        z-index: 1;
    
        &__header{
            border-bottom: 2px solid white;
            border-right: 2px solid white;
            display: flex;
            align-items: center;
            justify-content: center;
            color: white;
        }
    
        &__text{
            color: white;
            display: flex;
            cursor: default;
            word-break: break-word;
        }
    }
}