.calendar-weekend{
    display: flex;
    width: 100%;
    margin-top: 30px;
    margin-bottom: 20px;
    justify-content: center;

    &__calendar{
        width: 60%;
        height: 628px;
        background-color: #187FF6;
        border-radius: 20px;
        padding: 20px 30px;
        box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
    }

    &__header{
        display: flex;
        width: 100%;
        align-items: center;
        justify-content: space-between;
        padding-bottom: 20px;
        border-bottom: 1px solid white;
    }

    &__confirmation{
        width: 40%;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    &__Bmonth, &__Nmonth{
        background-color: transparent;
        border: none;
        cursor: pointer;
    }

    &__day{
        display: flex;
        width: 100%;
        justify-content: center;
    }

    &__month{
        display: inline-block;
        margin: 0;
        margin-right: auto;
        margin-left: auto;
        padding: 0;
        color: white;
        font-size: 24px;
        cursor: default;
    }

    &__day-list{
        padding: 0;
        display: grid;
        grid-template-columns: repeat(7, 1fr);
        justify-items: center;
        list-style: none;
        font-size: 20px;
        width: 100%;
        column-gap: 10px;
    }

    &__item{
        color: white;
        cursor: default;
    }

    &__day-num{
        display: flex;
        width: 100%;
        justify-content: center;
        height: calc(100% - 66px - 70px);        
    }

    &__day-num-list{
        display: grid;
        padding: 0;
        margin: 0;
        width: 100%;
        grid-template-columns: repeat(7, 1fr);
        justify-items: center;
        list-style: none;
        column-gap: 10px;
        align-items: center;
    }

    &__day-num-item{
        display: flex;
        color: white;
        font-size: 20px;
        align-items: center;
        justify-content: center;
        cursor: pointer;
        width: 50%;
        height: 55%;

        &--red{
            background-color: rgb(233, 56, 56);
            border-radius: 200px;
            border: none;
        }

        &--noClick{
            cursor: default;
        }
    }

    &__confirmation-btn{
        width: 100%;
        height: 60px;
        background-color: transparent;
        color: white;
        font-size: 26px;
        border: 2px solid white;
        border-radius: 15px;
        box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
        cursor: pointer;
        transition: 0.3s;

        &:hover{
            background-color: white;
            color:#187FF6;
        }

        &--dis{
            &:hover{
                
            }
            transition: none;
            cursor: default;
            opacity: 0.7;
        }
    }
}


@media (max-width: 1280px) {
    .calendar-weekend{
        display: flex;
        width: 100%;
        margin-top: 30px;
        margin-bottom: 20px;    
        &__calendar{
            width: 60%;
            height: 550px;
            border-radius: 15px;
            padding: 15px 20px;

        }
    
        &__header{
            padding-bottom: 15px;
        }
    
        &__confirmation{
            width: 40%;
        }
    
        &__month{
            font-size: 20px;
        }
    
        &__day-list{
            font-size: 17px;
            column-gap: 8px;
        }

        &__day-num{
            height: calc(100% - 66px - 60px);        
        }
    
        &__day-num-list{
            column-gap: 8px;
        }
    
        &__day-num-item{
            font-size: 17px;
            width: 50%;
            height: 55%;
        }
    
        &__confirmation-btn{
            width: 90%;
            height: 50px;
            font-size: 22px;
            border-radius: 10px;
        }
    }
}

@media (max-width: 1000px) {
    .calendar-weekend{
        display: flex;
        width: 100%;
        margin-top: 30px;
        margin-bottom: 20px;    
        &__calendar{
            width: 60%;
            height: 480px;
            border-radius: 15px;
            padding: 15px 20px;

        }
    
        &__header{
            padding-bottom: 10px;
        }
    
        &__confirmation{
            width: 40%;
        }
    
        &__month{
            font-size: 18px;
        }
    
        &__day-list{
            font-size: 16px;
            column-gap: 5px;
        }

        &__day-num{
            height: calc(100% - 57px - 51px);        
        }
    
        &__day-num-list{
            column-gap: 5px;
        }
    
        &__day-num-item{
            font-size: 15px;
            width: 55%;
            height: 50%;
        }
    
        &__confirmation-btn{
            width: 90%;
            height: 40px;
            font-size: 17px;
            border-radius: 10px;
        }
    }
}

@media (max-width: 768px) {
    .calendar-weekend{
        display: flex;
        width: 100%;
        margin-top: 0px;
        margin-bottom: 0px;    
        &__calendar{
            width: 80%;
            min-width: 350px;
            height: 434px;
            border-radius: 15px;
            padding: 15px 20px;

        }
    
        &__header{
            padding-bottom: 10px;
        }
    
        &__confirmation{
            width: 50%;
        }
    
        &__month{
            font-size: 18px;
        }
    
        &__day-list{
            font-size: 16px;
            column-gap: 5px;
            margin: 10px 0px;
        }

        &__day-num{
            height: calc(100% - 70px - 100px);        
        }
    
        &__day-num-list{
            column-gap: 5px;
        }
    
        &__day-num-item{
            font-size: 18px;
            width: 40px;
            height: 40px;
            border-radius: 100px;
        }
    
        &__confirmation-btn{
            width: 90%;
            height: 40px;
            font-size: 17px;
            border-radius: 10px;
        }

        &__option{
            display: flex;
            width: 100%;
            align-items: center;
            justify-content: space-around;
            margin-top: 30px;
        }

        &__option-btn{
            background-color: white;
            color:#187FF6;
            border: none;
            font-size: 17px;
            width: 68%;
            border-radius: 20px;
            box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.25);
            cursor: pointer;
        }

        &__option-item{
            display: flex;
            flex-grow: 1;
            align-items: center;
            justify-content: center;
            
        }
    }
}